tr
  td class="text-center" = image_tag url_for(reward.image), size: "32x32", alt: "Reward", class: 'reward-image'
  td class="text-center" = reward.name
  td class="text-center" = link_to reward.question.title, question_path(reward.question)